.timer{
  display:flex;
  flex-direction: column;
align-items: center;
  button{
    width: fit-content;
  }
}

#clockdiv{
    color: #fff;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
    margin: 2rem;    
    border-radius: 15px;
    width: fit-content;
}
#clockdiv > span{
    padding: 15px;
    border-radius: 12px;
    background: #00816A;
    margin: 1px;
    display: inline-block;
}