
button.MuiButtonBase-root{
    background: linear-gradient(135deg,#44bce0 33%,#ed45f0 66%,#eb971a 100%);
    color: #FFFFFF;
    font-weight: 900;
    border-radius: 20px;
    padding: 0.5rem 2rem
}
fieldset{
    padding: 0;
    margin: 0;
}
.appContainer{
    height: 100%;
    .appWpap{
        max-width: 320px;
    }
}