$new-white: rgb(245, 234, 170);

        .page-container {
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            perspective: 1000px;
            .card-container {
                height: 350px;
                margin: 0;
                padding: 0;
                width: 270px;
                position: relative;
                transform-style: preserve-3d;
                box-sizing: border-box;
                transform: rotate(
                    345deg
                    );
                &.flipped {
                    .front {
                        transform: rotateX(180deg);
                        //color: red;
                    }
                    .back {
                        transform: rotateX(0deg);
                    }
                }
                .front,
                .back {
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    display: block;
                    background: $new-white;
                    box-shadow: 10px 10px 5px rgb(95, 77, 99);
                    padding: 10px;
                    position: absolute;
                    border-radius: 10px;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    transition: -webkit-transform ease 500ms;
                    transition: transform ease 500ms;
                }
                .front {
                    z-index: 2;
                    transform: rotateX(0deg) scale(1.5);
                    box-shadow: 20px 20px 30px #5f4d63;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2rem;
                    /* front tile styles go here! */
                    font-weight: 900;
                    .spyCard{
                        color: rgb(230, 70, 150)
                    }
                }
                .back {
                    transform: rotateX(-180deg) scale(1.5);
                    background-color: #84eacb;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23000000' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
                    padding: 20px;
                    font-size: 20px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 3rem
                    /* back tile styles go here! */
                }
                
                }
            }
