$transition-duration: 1.3s;

#pre-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10000;
  font-size: 120px;
animation: scale $transition-duration linear infinite;
transition: opacity 0.3s;
&.anim_fade_out{
  opacity:0
}
}

@keyframes scale {
  0% {
  }
  50% {
    transform: scale(1.2) rotate(4deg);
  }
  100% {
  }

}