.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: fit-content;
  }
  h1 {
    line-height: 100%;
  }
  .button {
    width: 64px;
    height: 64px;
    color: #aaa7a7;
    &.active {
      color: #00bf96;
    }
  }
}

#clockdiv {
  color: #fff;
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  border-radius: 3px;
  background: #aaa7a7;
  margin: 2rem;
  margin-top: 1rem;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  &.active {
    background: #00bf96;
    & > span {
      background: #00816a;
    }
  }
  & > span {
    padding: 15px;
    border-radius: 12px;
    background: #818080;
    display: inline-block;
  }
}
